# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
## User settings
xcuserdata/


## Build generated
build/
DerivedData/

## Provisioning
*.mobileprovision
*.cer

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
